@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

* {
    box-sizing: border-box;
}


h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 8vh; /* 5% of viewport width */
}

textarea {
    font-size: 1.5vw;
    width: 80vw; /* Adjusted width percentage */
    height: 50vh;
    padding: 10px;
    margin-bottom: 20px;
    resize: none;
    box-sizing: border-box;
    border-radius:15px;
    border:0;
    box-shadow: 0 0 1px rgba(0,0,0,0.2),
                0 0 0 3px rgb(255, 255, 255),
                0.2em 0.2em 1.5em rgba(0,0,0,0.3);
}

.button-container {
    display: flex;
    justify-content: center;
    width: 75vw; /* Set the width to match the width of the textarea */
    margin: 0 auto; /* Center the button wrapper horizontally */
}

.button-container button {
    font-size: 1vw; /* Set font size relative to the width of the button wrapper */
    padding: 2vh 3vw; /* Padding based on viewport units */
    margin: 0 10px 10px 0; /* Adjust margin for proper spacing between buttons */
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


.button-container button:hover {
    background-color: lightblue;
    outline: 2px solid black; /* Add outline when hovering */
}

.button-container button:active {
    background-color: rgb(98, 202, 237);
}

#save-text-file {
    background-color: darkgrey;
}

#save-text-file:hover {
    background-color: rgb(123, 122, 122);
}

#save-text-file:active {
    background-color: rgb(96, 95, 95);
}
